.reservar-fechas {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  
  .fechas-container {
    flex: 1;
    padding-right: 2rem;
  }
  
  .registrar-fechas-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  