.registrar-fechas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .registrar-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
  }
  
  .registrar-form label {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .registrar-form input {
    width: 20rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  
  .registrar-form button {
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    background-color: #2979FF;
    color: white;
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
  }
  