.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.title {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.inputs {
  display: flex;
  flex-direction: column;
  width: 300px;
}

input[type="text"],
input[type="password"] {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: none;
  background-color: #f3f3f3;
  font-size: 1rem;
}

button {
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: none;
  background-color: #0077cc;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

button:hover {
  background-color: #006bb3;
}

span {
  color: red;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}
